html {
  scroll-behavior: smooth;
}
.about-us-title-div {
  background-image: url("./../images/aboutus-background.jpg");
  background-position: center;
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  /* align-items: end; */
  flex-direction: column;
}
.about-us-title-div h1 {
  margin: 0;
  font-size: 80px;
  font-family: Alegreya-SemiBoldItalic;
  color: #fff;
  font-weight: 300;
}
.about-us-title-div p {
  color: #fff;
  font-family: Alegreya;
  font-size: 1.5em;
  margin-top: 0;
}
.first-div {
  width: 100%;
  text-align: center;
}
.more-btn {
  font-family: sans-serif;
  background: transparent;
  color: #cdbf7a;
  border: 2px solid #cdbf7a;
  font-size: 20px;
  padding: 5px;
  border-radius: 5px;
}
.more-btn:hover {
  background-color: #cdbf7a;
  color: #fff;
}
/* .about-section {
  display: flex;
}
.counter,
.counter-text {
  width: 50%;
} */
.counter {
  background: rgb(42, 83, 42);
  color: #fff;
  text-align: center;
  padding: 15px 15px 25px 15px;

  font-family: Alegreyac;
}
.counterDigit {
  font-size: 50px;
  font-weight: 300;
}
.counter-text {
  text-align: center;
}
.third-div {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 10px;
}
.range-div {
  height: 100%;
  display: flex;
  align-items: center;
}
.range-div input {
  width: 500px;
  transform: rotate(90deg);
}
.range-div img {
  height: inherit;
  width: 100%;
}
.range-and-text {
  position: absolute;
  display: inline-flex;
  margin-left: -150px;
  z-index: 11;
}
.range-and-text p {
  text-align: right;
  color: #fff;
}
.img-container {
  width: 33%;
  position: absolute;
  height: 500px;
  background: linear-gradient(
    90deg,
    rgba(205, 191, 122, 1) 61%,
    rgba(2, 0, 36, 0) 100%
  );
  z-index: 11;
}

.fade-in {
  animation: fadeIn 2s ease-in-out;
  opacity: 1;
  z-index: 9;
}

@keyframes fadeIn {
  from {
    opacity: 0.1;
  }
  to {
    opacity: 1;
  }
}

input[type="range"] {
  -webkit-appearance: none;
  margin: 10px 0;
  background: transparent;
}
input[type="range"]:focus {
  outline: none;
}
input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 3px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 2px #000000;
  background: rgb(42, 83, 42);
  border-radius: 0px;
  border: 0px solid #ff0000;
}
input[type="range"]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 1px solid rgb(42, 83, 42);
  height: 19px;
  width: 19px;
  border-radius: 25px;
  background: #fff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7px;
}
input[type="range"]:focus::-webkit-slider-runnable-track {
  background: rgb(42, 83, 42);
}
input[type="range"]::-moz-range-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: rgb(42, 83, 42);
  border-radius: 0px;
  border: 0px solid #ff0000;
}
input[type="range"]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 1px solid rgb(42, 83, 42);
  height: 18px;
  width: 19px;
  border-radius: 25px;
  background: #b0a469;
  cursor: pointer;
}
input[type="range"]::-ms-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type="range"]::-ms-fill-lower {
  background: #000000;
  border: 0px solid #ff0000;
  border-radius: 0px;
  box-shadow: 0px 0px 0px #000000;
}
input[type="range"]::-ms-fill-upper {
  background: #000000;
  border: 0px solid #ff0000;
  border-radius: 0px;
  box-shadow: 0px 0px 0px #000000;
}
input[type="range"]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 0px 0px 0px #000000;
  border: 1px solid #000000;
  height: 18px;
  width: 19px;
  border-radius: 25px;
  background: #b0a469;
  cursor: pointer;
}
input[type="range"]:focus::-ms-fill-lower {
  background: rgb(42, 83, 42);
}
input[type="range"]:focus::-ms-fill-upper {
  background: rgb(42, 83, 42);
}
.second-div p,
.second-div h1 {
  margin: 0;
}
#info-section {
  display: grid;
  grid-template-columns: auto auto;
  text-align: center;
  padding: 10px;
}
#info-section h1 {
  width: 50%;
  margin: 0 auto;
}
#info-section img {
  width: 400px;
}
.infoDiv {
  
  color: #7a9399;
}
.grid-info{
  background-color: #000000;
  color: #f6f6f6;
}
.grid-info-item {
  padding: 0px 30px 0px 30px;
  border: 1px solid white;
  font-size: 1.4em;
}
.grid-info-item p{
  margin: 0;
}
.grid-text{
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}
.grid-gallery{
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 5vw);
  grid-gap: 15px;
  grid-column: 1/3;
  padding-top: 10px;
}
.grid-gallery img{
      width: 100%!important;
      height: 100%;
      object-fit: cover;
}
 .grid-img1 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}

.grid-img2 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
}

.grid-img3 {
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 6;
}

.grid-img4 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 6;
}

.grid-img5 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 6;
  grid-row-end: 9;
} 
.grid-img6 {
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 6;
  grid-row-end: 9;
} 
.third-div img {
  width: 7%;
}
@media screen and (max-width: 1024px) {
  .grid-info-item {
    padding: 0px 50px 0px 50px;
    border: 1px solid white;
    font-size: 1.4em;
  }
}
@media screen and (max-width: 768px) {
  .grid-info-item {
      padding: 11px 10px 11px 10px;
      font-size: 1.1em;
  }
}
@media screen and (max-width: 600px) {
  .grid-text h3{
    font-size: 1.1em;
  }
  .grid-info-item {
    padding: 16px 10px 17px 10px;
    font-size: 0.8em;
  }
  .about-us-title-div {
    height: 300px;
  }
}
@media screen and (max-width:480px) {
  #info-section {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 10px;
  }
  .grid-info-item {
    padding: 6px 10px 6px 10px;
    font-size: 0.8em;
  }
}