.card {
  display: flex;
  transition: all 0.5s ease-in-out;
  align-items: center;
  margin: 50px;
  border: 1px solid #cdc7c7;
  padding: 10px;
}

.card span {
  position: relative;
  top: 15px;
}
.card h1 {
  font-family: monospace;
  margin: 50px;
  width: 350px;
}
/* .card:hover {
  transform: scale(1.1);
}
.card svg {
  transform: scale(1.3);
} */
.card img {
  width: 400px;
}
.reverse {
  flex-direction: row-reverse;
}
