@font-face {
  font-family: "Alegreya";
  src: local("Alegreya"),
    url(./../fonts/Alegreya-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "Alegreya-SemiBoldItalic";
  src: local("Alegreya-SemiBoldItalic"),
    url(./../fonts/Alegreya-SemiBoldItalic.ttf) format("truetype");
}
* {
  font-family: Alegreya;
}

#footer {
  background-color: #000;
  color: #cdbf7a;
  display: flex;
  justify-content: space-around;
  padding: 60px;
}
#footer a {
  color: #cdbf7a;
  text-decoration: none;
}
#footer h1 {
  margin: 0;
  font-size: 14px;
  font-weight: 100;
  font-size: 1.3em;
}
.footerInfo {
  display: flex;
  margin: 5px;
  border-bottom: 1px solid #cdbf7a;
  padding-bottom: 6px;
  align-items: center;
}
.footerInfo h1:last-child {
  padding-left: 10px;
}
.logo-footer {
  width: 70px;
}
.footerInfo-div {
  display: flex;
  flex-flow: column;
  justify-content: center;
}
.logo-footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
